@import "./../../mainStyle/variables.scss";

.wr_toDo_List {
  margin-top: 15px;
  max-height: 310px;
  overflow-y: auto;
}
.wr_btn {
  button {
    cursor: pointer;
    width: 100%;
    height: 30px;
    background: $btnBg;
    border-radius: $radius_5;
    &:hover {
      background: $btnHoverBg;
    }
    svg {
      transition: all 0.3s;
    }
  }
}
.arrow {
  transform: rotate(180deg);
}
