@import "./../../mainStyle/variables.scss";

.wr_FilterByCategories {
  margin-bottom: 10px;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      margin-right: 15px;
    }
  }
}
